body{
     font-family: "Comfortaa", sans-serif;
}
.header{
    background : #476ef7;
    color: white;
    padding-left: 25px;
    font-size: large;
}
.input-form{
    display: flex;
    border: 1px solid black;
    justify-content: space-around;
    width: 95%;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #476ef7;
    margin-top: 15px;
    padding: 25px 0px;

}
#add-button{
    background: #476ef7;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: x-large;
    font-weight: 600;
    color: white;
}
.inputs{
    width: 30%;
}
.cards{
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: space-between;
}
.card{
    background-color: #476ef7;
    border: 0px;
    height: 150px;
    width: 18rem;
}
.card-body{
    color: white;

}
.transaction-table{
    width: 95%;
    margin: auto;
    border: 1px solid black;
    border-radius: 8px;
    overflow: hidden;
    font-weight: 900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    padding: 0px;
}
#header-row{
    background :#476ef7;
}
#header-row th{
    padding: 25px 10px;
    color: white;
}
.delete-button, .delete-button:hover{
    background: white;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

@media only screen and (max-width: 768px) {
    .header{
        background: black;
    }
    .input-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }
    .inputs{
        width: 75%;
    }
    #add-button{
        background: black;
        width: 75%;
        border-radius: 8px;
    }
    .cards{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    .card{
        background: black;
        width: 150px;
        align-items: center;
        justify-content: center;
    }
    #header-row{
        background: black;
    }
}